<li>
    <a href="javascript:;" data-toggle="collapse" data-target="#dropdown">
        <i class="fa fa-fw fa-cloud"></i>Analysis<i class="fa fa-fw fa-caret-down"></i>
    </a>
    <ul id="dropdown" class="collapse in">
        <li>
            <a href="/revenue"><i class="fa fa-fw fa-sitemap"></i> Revenue Analysis </a>
        </li> 
        <li>
            <a href="#"><i class="fa fa-fw fa-sitemap"></i> Reservation Analysis </a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-dashboard"></i> Customer Analysis </a>
        </li>

    </ul>
</li>
