<ul class='nav navbar-right top-nav'>
    <li class="dropdown" id='change'>
        <a href="#" class="dropdown-toggle theme-dropdown clearfix" data-toggle="dropdown"><i class="fa fa-dashboard"></i> Change Subsystems<b class="caret"></b></a>
        <ul class="dropdown-menu" id='subsys'>
            <li>
                <a href=""><i class="fa fa-fw fa-dashboard"></i> HR </a>
            </li>
            <li>
                <a href=""><i class="fa fa-fw fa-dashboard"></i> Accounting </a>
            </li>
            <li>
                <a href=""><i class="fa fa-fw fa-dashboard"></i> Supplier </a>
            </li>
        </ul>
    </li>
</ul>