<div class="detail-info row">
    <div class="panel panel-system col-md-12">
		<div class="panel-heading">
			<h4>Your Transactio List</h4>
		</div>
		<div class="panel-body  table-responsive">
			<table class="table table-bordered table-hover table-striped" id='transaction-table'>
                <thead>
                    <tr>
                        <th>Theme</th>
                        <th>Summary</th>
                        <th>People Involved</th>
                        <th>Deadline</th>
                        <th>Urgent Level</th>
                        <th>Processing State</th>
                        <th>Submitter</th>
                        <th>Submitted Time</th>
                        <th>Attachments</th>
                        <th>Quick Reply</th>
                        <th>View Datails</th>
                    </tr>
                </thead>
                <tbody>
                	<tr>
                		<td>Revenue Checking</td>
                		<td></td>
                		<td>2015/9/1</td>
                		<td>High</td>
                		<td></td>
                		<td></td>
                		<td></td>
                		<td></td>
                		<td></td>
                		<td>
                			<button type='button' class="btn btn-xs btn-success">Accept</button> 
                			<button type='button' class="btn btn-xs btn-danger">Reject</button>
                		</td>
                		<td></td>

                	</tr>
                	<tr>
                		<td>Supply Checking</td>
                		<td></td>
                		<td>2015/9/2</td>
                		<td>High</td>
                		<td></td>
                		<td></td>
                		<td></td>
                		<td></td>
                		<td></td>
                		<td><button type='button' class="btn btn-xs btn-success">Accept</button> 
                			<button type='button' class="btn btn-xs btn-danger">Reject</button></td>
                		<td></td>
                	</tr>
                	<tr>
                		<td>Personnel Rating</td>
                		<td></td>
                		<td>2015/9/11</td>
                		<td>Medium</td>
                		<td></td>
                		<td></td>
                		<td></td>
                		<td></td>
                		<td></td>
                		<td><button type='button' class="btn btn-xs btn-success">Accept</button> 
                			<button type='button' class="btn btn-xs btn-danger">Reject</button></td>
                		<td></td>
                	</tr>
                	<tr>
                		<td>Price Changing</td>
                		<td></td>
                		<td>2015/8/1</td>
                		<td>Low</td>
                		<td></td>
                		<td></td>
                		<td></td>
                		<td></td>
                		<td></td>
                		<td><button type='button' class="btn btn-xs btn-success">Accept</button> 
                			<button type='button' class="btn btn-xs btn-danger">Reject</button></td>
                		<td></td>
                	</tr>
                	
                </tbody>


		</div>
	</div>
</div>


<script>
var tb = new TableSorter("transaction-table");
</script>