<div class="detail-info row">
    <div class="panel panel-system col-md-12">
		<div class="panel-heading">
			<h4>Your Calendar</h4>
		</div>
		<div class="panel-body">
			<table class = "table table-hover table-bordered table-condensed table-striped" id="calendar-table">
				<thead>
					<tr>
						<td><h4 class = "text-center">Date</h4></td>
						<td><h4 class = "text-center">8:00-10:00</h4></td>
						<td><h4 class = "text-center">10:00-12:00</h4></td>
						<td><h4 class = "text-center">13:00-15:00</h4></td>
						<td><h4 class = "text-center">15:00-17:00</h4></td>
					</tr>
				</thead>
				<tbody>
					
					<tr>
						<td><h5 class = "text-center date">2015/8/13</h5></td>
						<td><h5 class = "text-center "></h5>Meeting with Finance </td>
						<td><h5 class = "text-center "></h5>Meeting with Accounting </td>
						<td><h5 class = "text-center "></h5>Stuff Rating Deadline</td>
						<td><h5 class = "text-center "></h5></td>
					</tr>

					<tr>
						<td><h5 class = "text-center date">2015/8/12</h5></td>
						<td><h5 class = "text-center "></h5>Meeting with HR </td>
						<td><h5 class = "text-center "></h5>Meeting with Supplier  </td>
						<td><h5 class = "text-center "></h5>Monthly report Deadline</td>
						<td><h5 class = "text-center "></h5></td>
					</tr>

					<tr>
						<td><h5 class = "text-center date">2015/8/13</h5></td>
						<td><h5 class = "text-center "></h5>Meeting with Finance </td>
						<td><h5 class = "text-center "></h5>Meeting with Accounting </td>
						<td><h5 class = "text-center "></h5>Stuff Rating Deadline</td>
						<td><h5 class = "text-center "></h5></td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>


<script>
var tb = new TableSorter("transaction-table");
</script>